:root{
    --primarycolor:#ff274b ;
    --secondarycolor:#f7bcf7 ;
    --lightcolor:#ffffff ;
    --bgcolor-1:#171a1c;
    --bgcolor-2:#22282a ;
    --padding: 8%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
}
.home{
    display: flex;
    flex-direction: column;
}
span{
    color: var(--primarycolor);
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-content: center;
}
nav ul li {
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--lightcolor);
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primarycolor);
}
.btn{
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    border-radius: 30px;
    text-decoration: none ;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    transition: 0.4s;
    border: 2px solid transparent;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    align-items: center;
    justify-content: space-between;
}
.content .text{
    align-content: center;
    position: relative;
    top: 200px;
}
.content .text h1{
    font-size: 3.65rem;
    margin: 1.7rem;
}
.content .text h3{
    font-size: 1.5rem;
    margin-bottom:3.5rem ;
}
.content .text h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
}
.social{
    margin-top: 3.5rem;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.5s;
}
.social img:hover{
    transform:rotate(360deg);
    /* transform:scale(1.6); */
}
.imges{
    width: 45%;
    height: 90%;
    position: relative;
    background-color:red;
    margin-left: 700px;
    margin-bottom:20px;
    align-self: flex-end;
}
.imges img{
    position: absolute;
    align-content: center;
    margin-left: 300px;
    margin-bottom: 400px;
    width: 50%; 
    transition: bottom 1s , left 1s ; 
}
.imges img .shape{
    bottom: 40px;
}
.imges img:hover .me{
    right: 40%;  
}